body {
   background-color: #dbdbda;
   font-family: 'Open Sans', sans-serif;
   margin: 0; 
   padding: 0; 
}

header {
   position: relative;
   background-color: #3274c9;
   padding: 10px 20px; 
}

.title {
   font-style: oblique;
   font-size: 1.5em;
   font-weight: bold;
   text-align: center;
   margin: 0;
}

.logo {
   position: absolute;
   display: block;
   width: 8%;
   top: 20%;
   
}


.navbar {
   background-color: #3274c9;
   padding: 20px;
}

.nav-itens {
   list-style: none; 
   padding: 0; 
   margin: 0;
   text-align: center; 
}

.nav-itens li {
   display: inline-block; 
   margin-right: 25px; 
}

a {
   text-decoration: none;
   color: #000;
   font-weight: bold;
}

.container {
   width: 70%;
   position: relative;
   background-color: #dbdbda;
   padding: 5px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 5%;
   border: 2px solid #000000; /* Adiciona uma borda sólida de 2px com a cor #3274c9 */
}



.container h1 {
   font-style: oblique;
   font-size: 2em; 
   background-color: #3274c9;
   border-bottom: 1px solid #f0eded;
   margin-bottom: 20px; 
   padding-bottom: 10px;
   text-align: center; 
   margin-top: auto;
   
}

.formcont {
   margin-bottom: 20px; 
   display: flex;
   flex-direction: column;
}

.formcont input[type="date"],
.formcont input[type="text"],
.formcont input[type="password"] {
   width: 20%; 
   margin-bottom: 5px; 
   padding: 5px; 
   box-sizing: border-box;
}

.formcont label {
   margin-bottom: 5px;
}


.selectcont {
   position: absolute; 
   right: 20%;
   top: 100px;
}
.selectcont1 {
   position: absolute; 
   right: 37%;
   top: 150px;
}
.selectcont2 {
   position: absolute; 
   right: 36%;
   top: 200px;
}
.selectcont3 {
   position: absolute; 
   right: 28%;
   top: 250px;
}

.selectcont4 {
   position: absolute; 
   right: 32%;
   top: 300px;
}

.btncadastrar {
   margin-left: auto; 
   margin-right: auto;
   display: block; 
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}
table, th, td {
   border: 1px solid black;
}
th, td {
   padding: 8px;
   text-align: left;
}

@media only screen and (max-width: 600px) {
   .logo {
       width: 50%; 
   }

   .title {
       font-size: 1.5em; /
   }

   
}



